kpazdf-stage/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "kpazdf-stage"
		},
		"azuresql_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azuresql_ls'"
		},
		"kp_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'kp_ls'"
		},
		"kp_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://kpblobstorage.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Delete1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('fileexists')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_csvsrc",
											"type": "DatasetReference",
											"parameters": {
												"srcpath": "@pipeline().parameters.srcpath",
												"srcfile": "@pipeline().parameters.srcfile"
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "fileexists",
										"value": {
											"value": "@activity('Get Metadata1').output.exists",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "ForEachFolderList",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('folderlist')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_csvsrc",
											"type": "DatasetReference",
											"parameters": {
												"srcpath": "@pipeline().parameters.srcpath",
												"srcfile": "@pipeline().parameters.srcfile"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_csvdest",
											"type": "DatasetReference",
											"parameters": {
												"destpath": "@pipeline().parameters.destpath",
												"destfile": {
													"value": "@concat(pipeline().parameters.destfile,'_',formatDateTime(utcNow(),'yyyyMMdd'),'.csv')",
													"type": "Expression"
												},
												"destfolder": "@item()"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_destdeletesrc",
								"type": "DatasetReference",
								"parameters": {
									"srcpath": "@pipeline().parameters.destpath",
									"srcfile": "@pipeline().parameters.destfile"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "kp_ls",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.csv",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"srcpath": {
						"type": "string"
					},
					"srcfile": {
						"type": "string"
					},
					"destpath": {
						"type": "string"
					},
					"destfile": {
						"type": "string"
					}
				},
				"variables": {
					"fileexists": {
						"type": "Boolean",
						"defaultValue": false
					},
					"folderlist": {
						"type": "Array",
						"defaultValue": [
							"output1",
							"output2",
							"output3"
						]
					},
					"destfolder": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_destdeletesrc')]",
				"[concat(variables('factoryId'), '/linkedServices/kp_ls')]",
				"[concat(variables('factoryId'), '/datasets/ds_csvsrc')]",
				"[concat(variables('factoryId'), '/datasets/ds_csvdest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csvdest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kp_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"destpath": {
						"type": "string"
					},
					"destfile": {
						"type": "string"
					},
					"destfolder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().destfile",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().destfolder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().destpath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kp_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csvsrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kp_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"srcpath": {
						"type": "string"
					},
					"srcfile": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().srcfile",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().srcpath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kp_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_destdeletesrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kp_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"srcpath": {
						"type": "string"
					},
					"srcfile": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().srcfile",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().srcpath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kp_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlsrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azuresql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azuresql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azuresql_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('azuresql_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kp_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('kp_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('kp_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}